//- DATA FORM :: START

-
  var dataFormObj = {
    inputName: {
      classMod: "",
      uniqueName: "name",
      labelVal: "Name",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Type your name",
      val: ""
    },
    inputEmail: {
      classMod: "",
      uniqueName: "email",
      labelVal: "Email",
      inputType: "email",
      inputClassMod: "",
      placeholderVal: "Type your email",
      val: ""
    },
    inputPassword: {
      classMod: "",
      uniqueName: "password",
      labelVal: "Password",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "Type your password",
      val: ""
    },

    radioField: {
      classMod: "",
      labelVal: "Radio label name",
      uniqueName: "radio",
      radioGroupName: "radio",
      radioValue: "radio",
      radioClassMod: "",
      radioContent: "Some radio content"
    },

    checkboxField1: {
      classMod: "",
      labelVal: "",
      uniqueName: "price_checkbox_1",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "No monthly payments"
    },
    checkboxField2: {
      classMod: "",
      labelVal: "",
      uniqueName: "price_checkbox_2",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "Credits never expire"
    },
    checkboxField3: {
      classMod: "",
      labelVal: "",
      uniqueName: "price_checkbox_3",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "Pay for what you need"
    },
    checkboxField4: {
      classMod: "",
      labelVal: "",
      uniqueName: "price_checkbox_4",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "API included"
    },

    textareaField: {
      classMod: "",
      uniqueName: "message",
      labelVal: "Message",
      textareaClassMod: "",
      placeholderVal: "Type your message",
      val: ""
    },

    selectFieldCustom: {
      classMod: "",
      uniqueName: "select",
      labelVal: "Select custom",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },
    selectFieldSelectric: {
      classMod: "",
      uniqueName: "login_selectric",
      labelVal: "Select selectric",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },

    notifyNameMessage : ['This field is required.'],
    notifyEmailMessage : ['Please enter a valid email address.'],
    notifyPasswordMessage : ['Please enter no more than {8} characters.'],
    notifyTextareaMessage : ['This field is required.'],
    notifySelectMessage : ['This field is required.'],
    notifyRadioMessage : ['This field is required.'],
    notifyCheckboxMessage : ['This field is required.']
  };

//- DATA FORM :: END