// SECTION trial :: START

section#trial.trial
  .c-grid

    .trial__wrapper

      .trial__wrapper-left
        div
          img(src="./img/img-trial-flower.svg" alt="" title="")

        div
          p.trial__title!= "Start 14 days <br>free trial"
          p.trial__subtitle!= "No credit card required"

          a.trial__btn(href="#" class="" title="")
            span!= "Get started now"
            i.icon-font.icon-arrow-right-0

      .trial__wrapper-right

        .trial__pc-wrapper
          img.trial__pc-flower.trial__pc-flower--left(src="./img/img-trial-pc-flower-l.svg" alt="" title="")
          img.trial__pc-flower.trial__pc-flower--right(src="./img/img-trial-pc-flower-r.svg" alt="" title="")
          img.trial__pc(src="./img/img-trial-pc.png" srcset="./img/img-trial-pc@2x.png 2x" alt="" title="")

// SECTION trial :: END