// COMMON :: START

// main
.main {
  position: relative;
  padding-top: 217px;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 582px;
    background-color: #f4f9fc;
  }

  &__title {
    //font-size: 70px;
    line-height: line-height-convert(75,70);
    color: #464646;
    @include fluid(font-size, 320px, 1600px, 36px, 70px);
  }
}
// main :: end

// text
.c-text {
  font-size: 17px;
  line-height: line-height-convert(31,17);
  color: #fff;
  @include adaptive(575) {
    font-size: 15px;
  }

  &--medium {
    color: #818992;
  }
}
// text :: end

// social
.social {
  display: flex;

  &__list {
    display: flex;

    &-item {
      margin-left: 15px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    @include transition(opacity);

    &:hover {
      opacity: 0.95;
      @include transition(opacity);
    }

    @each $classMod, $bg, $iconH in
        ('fb', #3B5998, 19px),
        ('tw', #55ACEE, 14px),
        ('in', #007AB9, 16px),
        ('gp', #DC4E41, 12px),
        ('pn', #CB2027, 18px)
    {
      &--#{$classMod} {
        background-color: $bg;

        .icon-font {
          font-size: $iconH;
        }
      }
    }

    .icon-font {
      color: #fff;
    }
  }
}
// social :: end

// copyright
.copyright {
  &__text {
    font-size: 12px;
    letter-spacing: 0.15em;
    line-height: line-height-convert(28, 12);
    text-align: center;
    color: #f8fcff;
  }
}
// copyright :: end

// COMMON :: END