@charset "UTF-8";
/* line 6, src/scss/_utilities/_extend.scss */
.blog__more span {
  font-family: 'Eina04', sans-serif;
  font-weight: bold;
}

/* line 1, src/scss/_generated/_spriteSVG.scss */
.icon-gdpr-file {
  width: 82.145px;
  height: 87.885px;
}

/* line 5, src/scss/_generated/_spriteSVG.scss */
.icon-gdpr-world {
  width: 149.307px;
  height: 149.31px;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-arrow-right-0:before, .icon-arrow-right:before, .icon-fb:before, .icon-gp:before, .icon-in:before, .icon-pn:before, .icon-tw:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-arrow-right-0:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-arrow-right:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-fb:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-gp:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-in:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-pn:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-tw:before {
  content: "";
}

@font-face {
  font-family: "Dakota";
  src: url("../fonts/Dakota.woff2") format("woff2"), url("../fonts/Dakota.woff") format("woff"), url("../fonts/Dakota.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Bold.woff2") format("woff2"), url("../fonts/Eina01-Bold.woff") format("woff"), url("../fonts/Eina01-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Light.woff2") format("woff2"), url("../fonts/Eina01-Light.woff") format("woff"), url("../fonts/Eina01-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Regular.woff2") format("woff2"), url("../fonts/Eina01-Regular.woff") format("woff"), url("../fonts/Eina01-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-SemiBold.woff2") format("woff2"), url("../fonts/Eina01-SemiBold.woff") format("woff"), url("../fonts/Eina01-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Light.woff2") format("woff2"), url("../fonts/Eina02-Light.woff") format("woff"), url("../fonts/Eina02-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Bold.woff2") format("woff2"), url("../fonts/Eina02-Bold.woff") format("woff"), url("../fonts/Eina02-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-SemiBold.woff2") format("woff2"), url("../fonts/Eina02-SemiBold.woff") format("woff"), url("../fonts/Eina02-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Regular.woff2") format("woff2"), url("../fonts/Eina02-Regular.woff") format("woff"), url("../fonts/Eina02-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Regular.woff2") format("woff2"), url("../fonts/Eina03-Regular.woff") format("woff"), url("../fonts/Eina03-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Light.woff2") format("woff2"), url("../fonts/Eina03-Light.woff") format("woff"), url("../fonts/Eina03-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Bold.woff2") format("woff2"), url("../fonts/Eina03-Bold.woff") format("woff"), url("../fonts/Eina03-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-SemiBold.woff2") format("woff2"), url("../fonts/Eina03-SemiBold.woff") format("woff"), url("../fonts/Eina03-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-SemiBold.woff2") format("woff2"), url("../fonts/Eina04-SemiBold.woff") format("woff"), url("../fonts/Eina04-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-Regular.woff2") format("woff2"), url("../fonts/Eina04-Regular.woff") format("woff"), url("../fonts/Eina04-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-Light.woff2") format("woff2"), url("../fonts/Eina04-Light.woff") format("woff"), url("../fonts/Eina04-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-Bold.woff2") format("woff2"), url("../fonts/Eina04-Bold.woff") format("woff"), url("../fonts/Eina04-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/Brandon Grotesque-Bold.woff2") format("woff2"), url("../fonts/Brandon Grotesque-Bold.woff") format("woff"), url("../fonts/Brandon Grotesque-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/Brandon Grotesque-Bold_1.woff2") format("woff2"), url("../fonts/Brandon Grotesque-Bold_1.woff") format("woff"), url("../fonts/Brandon Grotesque-Bold_1.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/Brandon Grotesque-Bold_2.woff2") format("woff2"), url("../fonts/Brandon Grotesque-Bold_2.woff") format("woff"), url("../fonts/Brandon Grotesque-Bold_2.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  position: fixed;
  width: 100%;
  overflow: hidden !important;
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 20, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 17px;
  font-weight: normal;
  font-family: "Eina03", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1392px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1392px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1392px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1392px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1392px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1392px;
  }
}

/* line 4, src/scss/_shared/_common.scss */
.c-text {
  font-size: 17px;
  line-height: 1.82353;
  color: #fff;
}

/* line 9, src/scss/_shared/_common.scss */
.c-text--medium {
  color: #818992;
}

/* line 16, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 19, src/scss/_shared/_common.scss */
.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 22, src/scss/_shared/_common.scss */
.social__list-item {
  margin-left: 15px;
}

/* line 25, src/scss/_shared/_common.scss */
.social__list-item:first-of-type {
  margin-left: 0;
}

/* line 31, src/scss/_shared/_common.scss */
.social__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 40, src/scss/_shared/_common.scss */
.social__btn:hover {
  opacity: 0.95;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 52, src/scss/_shared/_common.scss */
.social__btn--fb {
  background-color: #3B5998;
}

/* line 55, src/scss/_shared/_common.scss */
.social__btn--fb .icon-font {
  font-size: 19px;
}

/* line 52, src/scss/_shared/_common.scss */
.social__btn--tw {
  background-color: #55ACEE;
}

/* line 55, src/scss/_shared/_common.scss */
.social__btn--tw .icon-font {
  font-size: 14px;
}

/* line 52, src/scss/_shared/_common.scss */
.social__btn--in {
  background-color: #007AB9;
}

/* line 55, src/scss/_shared/_common.scss */
.social__btn--in .icon-font {
  font-size: 16px;
}

/* line 52, src/scss/_shared/_common.scss */
.social__btn--gp {
  background-color: #DC4E41;
}

/* line 55, src/scss/_shared/_common.scss */
.social__btn--gp .icon-font {
  font-size: 12px;
}

/* line 52, src/scss/_shared/_common.scss */
.social__btn--pn {
  background-color: #CB2027;
}

/* line 55, src/scss/_shared/_common.scss */
.social__btn--pn .icon-font {
  font-size: 18px;
}

/* line 61, src/scss/_shared/_common.scss */
.social__btn .icon-font {
  color: #fff;
}

/* line 70, src/scss/_shared/_common.scss */
.copyright__text {
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 2.33333;
  text-align: center;
  color: #f8fcff;
}

/* line 3, src/scss/_shared/_iconSVG.scss */
.icon-svg {
  display: inline-block;
  fill: currentColor;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-size: 35px;
  line-height: 1.28571;
  color: #2d3136;
}

/* line 8, src/scss/_macros/_title.scss */
.c-title--white {
  color: #ffffff;
}

/* line 12, src/scss/_macros/_title.scss */
.c-title--bold {
  font-weight: bold;
}

/* line 23, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 67px;
  -webkit-box-shadow: 0px 3px 3px rgba(21, 90, 69, 0.2);
          box-shadow: 0px 3px 3px rgba(21, 90, 69, 0.2);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: white;
  font-size: 19px;
  font-weight: 600;
}

/* line 42, src/scss/_macros/_btn.scss */
.c-btn:hover .c-btn__left:before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 54, src/scss/_macros/_btn.scss */
.c-btn__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  min-width: 1px;
  height: 100%;
  padding: 5px 30px 5px 19px;
}

/* line 64, src/scss/_macros/_btn.scss */
.c-btn__left:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 76, src/scss/_macros/_btn.scss */
.c-btn__left span {
  z-index: 2;
  position: relative;
  top: 2px;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.57895;
  color: #fff;
}

/* line 87, src/scss/_macros/_btn.scss */
.c-btn__right {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 67px;
  height: 100%;
}

/* line 96, src/scss/_macros/_btn.scss */
.c-btn__right .icon-arrow-right {
  color: #fff;
  font-size: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 103, src/scss/_macros/_btn.scss */
.c-btn--blue {
  background-color: #04c7ff;
}

/* line 107, src/scss/_macros/_btn.scss */
.c-btn--blue .c-btn__left:before {
  background-color: #3bd3ff;
}

/* line 112, src/scss/_macros/_btn.scss */
.c-btn--blue .c-btn__right {
  background-color: #3bd3ff;
}

@-webkit-keyframes offsetArrow {
  from {
  }
  50% {
  }
  to {
  }
}

@keyframes offsetArrow {
  from {
  }
  50% {
  }
  to {
  }
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 11, src/scss/_components/_header.scss */
.header .c-grid {
  max-width: 1394px;
}

/* line 15, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 106px;
}

/* line 21, src/scss/_components/_header.scss */
.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 40px;
}

/* line 27, src/scss/_components/_header.scss */
.header__content-left {
  width: 202px;
}

/* line 31, src/scss/_components/_header.scss */
.header__content-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

/* line 38, src/scss/_components/_header.scss */
.header__content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 232px;
}

/* line 47, src/scss/_components/_header.scss */
.header__logo > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 52, src/scss/_components/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 58, src/scss/_components/_header.scss */
.header__nav--p-home .header__nav-link, .header__nav--p-datavalidation .header__nav-link {
  opacity: 1;
}

/* line 71, src/scss/_components/_header.scss */
.header__nav--p-features .header__nav-item:nth-of-type(1) a {
  opacity: 1;
}

/* line 71, src/scss/_components/_header.scss */
.header__nav--p-pricing .header__nav-item:nth-of-type(2) a {
  opacity: 1;
}

/* line 71, src/scss/_components/_header.scss */
.header__nav--p-integrations .header__nav-item:nth-of-type(3) a {
  opacity: 1;
}

/* line 79, src/scss/_components/_header.scss */
.header__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 83, src/scss/_components/_header.scss */
.header__nav-link {
  display: block;
  opacity: 0.4;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  text-align: left;
  color: #464646;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 93, src/scss/_components/_header.scss */
.header__nav-link:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 100, src/scss/_components/_header.scss */
.header__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 110px;
  height: 40px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 3px 3px rgba(63, 54, 134, 0.2);
          box-shadow: 0 3px 3px rgba(63, 54, 134, 0.2);
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  color: #8171ff;
  text-transform: uppercase;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 118, src/scss/_components/_header.scss */
.header__btn--login:hover, .header__btn--signup:hover {
  -webkit-box-shadow: 0 1px 1px rgba(63, 54, 134, 0.1);
          box-shadow: 0 1px 1px rgba(63, 54, 134, 0.1);
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 124, src/scss/_components/_header.scss */
.header__btn--login {
  margin-right: 12px;
  background: #fff;
  color: #8171FF;
}

/* line 129, src/scss/_components/_header.scss */
.header__btn--login:hover {
  background: #6c63ff;
  color: #ffffff;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 136, src/scss/_components/_header.scss */
.header__btn--signup {
  background: #6c63ff;
  color: #ffffff;
}

/* line 140, src/scss/_components/_header.scss */
.header__btn--signup:hover {
  background: #fff;
  color: #8171FF;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 4, src/scss/_components/_footer.scss */
.footer__wrapper {
  min-height: 341px;
}

/* line 7, src/scss/_components/_footer.scss */
.footer__wrapper-0 {
  min-height: -webkit-calc(341px - 50px);
  min-height: calc(341px - 50px);
  padding-top: 77px;
  background: #00206f;
}

/* line 13, src/scss/_components/_footer.scss */
.footer__wrapper-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  background: #001a67;
}

/* line 22, src/scss/_components/_footer.scss */
.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 26, src/scss/_components/_footer.scss */
.footer__col {
  width: 100%;
  max-width: -webkit-calc(100% / 5);
  max-width: calc(100% / 5);
}

/* line 34, src/scss/_components/_footer.scss */
.footer__col-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 40, src/scss/_components/_footer.scss */
.footer__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 43, src/scss/_components/_footer.scss */
.footer__logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 48, src/scss/_components/_footer.scss */
.footer__title {
  padding-bottom: 27px;
  font-size: 17px;
  line-height: 28px;
  text-align: left;
  color: #fff;
}

/* line 56, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 60, src/scss/_components/_footer.scss */
.footer__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

/* line 64, src/scss/_components/_footer.scss */
.footer__nav-item:last-of-type {
  margin-bottom: 0;
}

/* line 69, src/scss/_components/_footer.scss */
.footer__nav-btn {
  opacity: 0.7;
  font-size: 14px;
  text-align: left;
  color: #fff;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 76, src/scss/_components/_footer.scss */
.footer__nav-btn:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 3, src/scss/_components/common/_partners.scss */
.partners {
  position: relative;
  background-color: #f4f9fc;
}

/* line 7, src/scss/_components/common/_partners.scss */
.partners__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 128px;
  padding-bottom: 128px;
}

/* line 12, src/scss/_components/common/_partners.scss */
.partners__wrapper-auto {
  width: 440px;
}

/* line 16, src/scss/_components/common/_partners.scss */
.partners__wrapper-expand {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  padding-left: 143px;
}

/* line 23, src/scss/_components/common/_partners.scss */
.partners__heading {
  position: absolute;
  top: 15px;
  left: 0;
  font-weight: bold;
  font-size: 167px;
  line-height: 1;
  color: #2d3136;
  opacity: 0.03;
}

/* line 34, src/scss/_components/common/_partners.scss */
.partners__title {
  padding-bottom: 47px;
}

/* line 38, src/scss/_components/common/_partners.scss */
.partners__desc {
  font-size: 17px;
  line-height: 1.82353;
  color: #818992;
}

/* line 44, src/scss/_components/common/_partners.scss */
.partners__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
  padding-top: 10px;
}

/* line 50, src/scss/_components/common/_partners.scss */
.partners__logo > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
  padding: 5px;
}

/* line 56, src/scss/_components/common/_partners.scss */
.partners__logo > div:nth-of-type(1), .partners__logo > div:nth-of-type(2), .partners__logo > div:nth-of-type(3), .partners__logo > div:nth-of-type(4) {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 63, src/scss/_components/common/_partners.scss */
.partners__logo > div:nth-of-type(5), .partners__logo > div:nth-of-type(6), .partners__logo > div:nth-of-type(7), .partners__logo > div:nth-of-type(8) {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* line 70, src/scss/_components/common/_partners.scss */
.partners__logo > div:nth-of-type(2), .partners__logo > div:nth-of-type(3), .partners__logo > div:nth-of-type(6), .partners__logo > div:nth-of-type(7) {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 77, src/scss/_components/common/_partners.scss */
.partners__logo > div:nth-of-type(4), .partners__logo > div:nth-of-type(8) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 3, src/scss/_components/common/_workflow.scss */
.workflow {
  background-color: #6c63ff;
}

/* line 6, src/scss/_components/common/_workflow.scss */
.workflow__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 13, src/scss/_components/common/_workflow.scss */
.workflow__wrapper-expand {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 17, src/scss/_components/common/_workflow.scss */
.workflow__wrapper-fixed {
  width: auto;
}

/* line 22, src/scss/_components/common/_workflow.scss */
.workflow__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 1.31818;
  color: #fff;
}

/* line 3, src/scss/_components/home/_customers.scss */
.customers {
  background-color: #6c63ff;
  padding-bottom: 109px;
}

/* line 7, src/scss/_components/home/_customers.scss */
.customers__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 10, src/scss/_components/home/_customers.scss */
.customers__wrapper-left, .customers__wrapper-right {
  width: 50%;
}

/* line 15, src/scss/_components/home/_customers.scss */
.customers__wrapper-left {
  padding-top: 157px;
}

/* line 19, src/scss/_components/home/_customers.scss */
.customers__wrapper-right {
  padding-left: 15px;
}

/* line 24, src/scss/_components/home/_customers.scss */
.customers__title {
  padding-bottom: 40px;
}

/* line 28, src/scss/_components/home/_customers.scss */
.customers__text {
  width: 100%;
  max-width: 440px;
  padding-bottom: 42px;
}

/* line 34, src/scss/_components/home/_customers.scss */
.customers__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 40, src/scss/_components/home/_customers.scss */
.customers__row {
  padding-top: 64px;
  padding-left: 139px;
}

/* line 45, src/scss/_components/home/_customers.scss */
.customers__subtitle {
  padding-bottom: 49px;
  font-size: 44px;
}

/* line 50, src/scss/_components/home/_customers.scss */
.customers__btn {
  width: 100%;
  max-width: 380px;
}

/* line 54, src/scss/_components/home/_customers.scss */
.customers__btn .c-btn__left {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 59, src/scss/_components/home/_customers.scss */
.customers__box {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 181px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 11px 11px rgba(0, 32, 111, 0.06);
          box-shadow: 0 11px 11px rgba(0, 32, 111, 0.06);
}

/* line 67, src/scss/_components/home/_customers.scss */
.customers__box-0 {
  margin-bottom: 28px;
}

/* line 70, src/scss/_components/home/_customers.scss */
.customers__box-0 .customers__box-left {
  background-color: #4ae3c1;
}

/* line 76, src/scss/_components/home/_customers.scss */
.customers__box-1 .customers__box-left {
  background-color: #04C7FF;
}

/* line 81, src/scss/_components/home/_customers.scss */
.customers__box-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 181px;
  height: 100%;
}

/* line 88, src/scss/_components/home/_customers.scss */
.customers__box-left img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
}

/* line 95, src/scss/_components/home/_customers.scss */
.customers__box-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: -webkit-calc(100% - 181px);
  max-width: calc(100% - 181px);
  height: 100%;
  padding: 15px 15px 15px 95px;
}

/* line 105, src/scss/_components/home/_customers.scss */
.customers__box-title {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.45833;
  color: #2d3136;
}

/* line 113, src/scss/_components/home/_customers.scss */
.customers__box-text {
  font-size: 15px;
  line-height: 1.86667;
  color: #818992;
}

/* line 3, src/scss/_components/home/_gdpr.scss */
.gdpr {
  background-color: #04c7ff;
}

/* line 6, src/scss/_components/home/_gdpr.scss */
.gdpr__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 178px;
}

/* line 14, src/scss/_components/home/_gdpr.scss */
.gdpr__bg {
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 24, src/scss/_components/home/_gdpr.scss */
.gdpr__bg-world {
  z-index: 2;
  position: relative;
  left: -33px;
}

/* line 30, src/scss/_components/home/_gdpr.scss */
.gdpr__bg-text {
  z-index: 1;
  position: relative;
  top: 12px;
  left: -58px;
  font-weight: bold;
  font-size: 151px;
  line-height: 0.38411;
  color: #3bd3ff;
}

/* line 42, src/scss/_components/home/_gdpr.scss */
.gdpr__row {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

/* line 51, src/scss/_components/home/_gdpr.scss */
.gdpr__col-1 {
  padding-left: 25px;
}

/* line 55, src/scss/_components/home/_gdpr.scss */
.gdpr__col-2 {
  padding-left: 37px;
}

/* line 60, src/scss/_components/home/_gdpr.scss */
.gdpr__line {
  width: 154px;
  height: 1px;
  background: #fff;
}

/* line 66, src/scss/_components/home/_gdpr.scss */
.gdpr__text {
  font-size: 15px;
  line-height: 1.86667;
  color: #fff;
}

/* line 72, src/scss/_components/home/_gdpr.scss */
.gdpr__title {
  font-size: 31px;
  letter-spacing: 0.4em;
  line-height: 1.87097;
  color: #fff;
}

/* line 3, src/scss/_components/features/_boost.scss */
.boost {
  padding-top: 252px;
  padding-bottom: 201px;
}

/* line 7, src/scss/_components/features/_boost.scss */
.boost__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 307px;
}

/* line 13, src/scss/_components/features/_boost.scss */
.boost__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 16, src/scss/_components/features/_boost.scss */
.boost__block-wrapper > div {
  width: 100%;
  max-width: 414px;
}

/* line 22, src/scss/_components/features/_boost.scss */
.boost__block-top {
  width: 260px;
  height: 260px;
  margin-bottom: 53px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #f4f9fc;
}

/* line 32, src/scss/_components/features/_boost.scss */
.boost__block-title {
  padding-bottom: 42px;
  font-weight: bold;
  font-size: 27px;
  line-height: 1.37037;
  color: #2d3136;
}

/* line 40, src/scss/_components/features/_boost.scss */
.boost__block-text {
  width: 100%;
  max-width: 260px;
}

/* line 4, src/scss/_components/features/_details.scss */
.details__wrapper {
  padding-bottom: 249px;
}

/* line 8, src/scss/_components/features/_details.scss */
.details__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 11, src/scss/_components/features/_details.scss */
.details__row--normal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* line 14, src/scss/_components/features/_details.scss */
.details__row--normal .details__col--auto {
  padding-right: 146px;
}

/* line 19, src/scss/_components/features/_details.scss */
.details__row--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* line 22, src/scss/_components/features/_details.scss */
.details__row--reverse .details__num {
  left: 146px;
}

/* line 26, src/scss/_components/features/_details.scss */
.details__row--reverse .details__col--auto {
  padding-left: 146px;
}

/* line 33, src/scss/_components/features/_details.scss */
.details__col--auto {
  position: relative;
  padding-top: 133px;
  width: 552px;
}

/* line 39, src/scss/_components/features/_details.scss */
.details__col--expand {
  width: 100%;
  max-width: -webkit-calc(100% - 552px);
  max-width: calc(100% - 552px);
}

/* line 45, src/scss/_components/features/_details.scss */
.details__block {
  position: relative;
  width: 100%;
  max-width: 812px;
  height: 495px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f9fc));
  background: -webkit-linear-gradient(#fff 0%, #f4f9fc 100%);
  background: -o-linear-gradient(#fff 0%, #f4f9fc 100%);
  background: linear-gradient(#fff 0%, #f4f9fc 100%);
  -webkit-box-shadow: 0px -13px 11px rgba(0, 32, 111, 0.06);
          box-shadow: 0px -13px 11px rgba(0, 32, 111, 0.06);
}

/* line 55, src/scss/_components/features/_details.scss */
.details__num {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 234px;
  line-height: 1;
  color: #f4f9fc;
}

/* line 66, src/scss/_components/features/_details.scss */
.details__title {
  width: 100%;
  max-width: 398px;
  padding-bottom: 40px;
  font-size: 35px;
  line-height: 1.28571;
  color: #2d3136;
}

/* line 3, src/scss/_components/features/_explore.scss */
.explore {
  padding-top: 190px;
  padding-bottom: 170px;
}

/* line 7, src/scss/_components/features/_explore.scss */
.explore__wrapper {
  width: 100%;
  max-width: 1162px;
}

/* line 13, src/scss/_components/features/_explore.scss */
.explore__row-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 19, src/scss/_components/features/_explore.scss */
.explore__col-left {
  width: 415px;
}

/* line 23, src/scss/_components/features/_explore.scss */
.explore__col-right {
  width: 100%;
  max-width: -webkit-calc(100% - 415px);
  max-width: calc(100% - 415px);
}

/* line 29, src/scss/_components/features/_explore.scss */
.explore__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 1.31818;
  color: #464646;
}

/* line 35, src/scss/_components/features/_explore.scss */
.explore__title i {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 28px;
  padding-left: 40px;
}

/* line 42, src/scss/_components/features/_explore.scss */
.explore__block {
  padding-bottom: 85px;
}

/* line 45, src/scss/_components/features/_explore.scss */
.explore__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 49, src/scss/_components/features/_explore.scss */
.explore__block-wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
}

/* line 56, src/scss/_components/features/_explore.scss */
.explore__block-title {
  padding-bottom: 42px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.45833;
  color: #2d3136;
}

/* line 64, src/scss/_components/features/_explore.scss */
.explore__block-text {
  width: 100%;
  max-width: 196px;
  font-size: 15px;
}

/* line 3, src/scss/_components/features/_blog.scss */
.blog {
  padding-top: 130px;
  padding-bottom: 255px;
}

/* line 7, src/scss/_components/features/_blog.scss */
.blog .c-grid {
  position: relative;
}

/* line 12, src/scss/_components/features/_blog.scss */
.blog__wrapper-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 16, src/scss/_components/features/_blog.scss */
.blog__wrapper-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 21, src/scss/_components/features/_blog.scss */
.blog__wrapper-left, .blog__wrapper-right {
  width: 50%;
}

/* line 26, src/scss/_components/features/_blog.scss */
.blog__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 32, src/scss/_components/features/_blog.scss */
.blog__line {
  margin-top: 63px;
  margin-bottom: 63px;
  width: 1364px;
  height: 1px;
  background-color: #818992;
}

/* line 40, src/scss/_components/features/_blog.scss */
.blog__box {
  width: 100%;
  max-width: -webkit-calc((100% - 170px) / 3);
  max-width: calc((100% - 170px) / 3);
}

/* line 45, src/scss/_components/features/_blog.scss */
.blog__box:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 51, src/scss/_components/features/_blog.scss */
.blog__box-top {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 239px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 11px 11px rgba(0, 32, 111, 0.06);
          box-shadow: 0 11px 11px rgba(0, 32, 111, 0.06);
}

/* line 59, src/scss/_components/features/_blog.scss */
.blog__box-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 72, src/scss/_components/features/_blog.scss */
.blog__box-bottom {
  padding-top: 43px;
}

/* line 76, src/scss/_components/features/_blog.scss */
.blog__box-data {
  padding-bottom: 22px;
  font-size: 15px;
  color: #818992;
}

/* line 82, src/scss/_components/features/_blog.scss */
.blog__box-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.45833;
  color: #2d3136;
}

/* line 90, src/scss/_components/features/_blog.scss */
.blog__heading {
  z-index: -1;
  position: absolute;
  top: -130px;
  left: 0;
  font-weight: bold;
  font-size: 234px;
  line-height: 1;
  color: #f4f9fc;
}

/* line 101, src/scss/_components/features/_blog.scss */
.blog__title {
  padding-bottom: 29px;
}

/* line 105, src/scss/_components/features/_blog.scss */
.blog__text {
  color: #464646;
}

/* line 109, src/scss/_components/features/_blog.scss */
.blog__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 113, src/scss/_components/features/_blog.scss */
.blog__more span {
  padding-right: 20px;
  font-size: 15px;
  line-height: 2.06667;
  color: #242424;
}

/* line 121, src/scss/_components/features/_blog.scss */
.blog__more .icon-font {
  color: #242424;
}

/*# sourceMappingURL=maps/app.css.map */
