// SECTION customers :: START

.customers {
  background-color: #6c63ff;
  padding-bottom: 108px;

  &__wrapper {
    display: flex;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include adaptive(767) {
        width: 100%;
      }
    }

    &-left {
      padding-top: 154px;
      padding-right: 8px;
      @include adaptive(767) {
        padding-top: 50px;
        padding-right: 0;
        padding-bottom: 30px;
      }
    }

    &-right {
      padding-left: 8px;
      @include adaptive(767) {
        padding-left: 0;
      }
    }
  }

  &__title {
    padding-bottom: 28px;
  }

  &__text {
    width: 100%;
    max-width: 440px;
    padding-bottom: 38px;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__row {
    padding-top: 57px;
    padding-left: 139px;
    @include adaptive(1199) {
      padding-left: 50px;
    }
    @include adaptive(991) {
      padding-left: 15px;
    }
    @include adaptive(767) {
      padding-left: 0;
    }
  }

  &__subtitle {
    padding-bottom: 47px;
    @include fluid(font-size, 320px, 1440px, 33px, 44px);
  }

  &__btn {
    width: 100%;
    max-width: 380px;

    .c-btn__left {
      justify-content: center;
    }
  }

  &__box {
    overflow: hidden;
    display: flex;
    min-height: 181px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 11px 11px rgba(0, 32, 111, 0.06);

    &-0 {
      margin-bottom: 28px;

      .customers__box-left {
        background-color: #4ae3c1;
      }
    }

    &-1 {
      .customers__box-left {
        background-color: #04C7FF;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 181px;
      min-height: 100%;
      @include adaptive(991) {
        width: 150px;
      }
      @include adaptive(767) {
        width: 45%;
      }

      img {
        display: flex;
        max-width: 100%;
        height: auto;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: calc(100% - 181px);
      min-height: 100%;
      padding: 15px 15px 15px 95px;
      @include adaptive(1199) {
        padding-left: 30px;
      }
      @include adaptive(991) {
        max-width: calc(100% - 150px);
        padding-left: 15px;
      }
      @include adaptive(767) {
        max-width: 55%;
      }
    }

    &-title {
      padding-bottom: 10px;
      font-weight: bold;
      line-height: line-height-convert(35,24);
      color: #2d3136;
      @include fluid(font-size, 320px, 1440px, 20px, 24px);
    }

    &-text {
      font-size: 15px;
      line-height: line-height-convert(28, 15);
      color: #818992;
    }
  }
}

// SECTION customers :: END