// SECTION trial :: START

.trial {
  @include fluid(padding-top, 320px, 1200px, 50px, 82px);
  @include fluid(padding-bottom, 320px, 1200px, 50px, 104px);

  .c-grid {
    max-width: 1690px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    min-height: 555px;
    @include adaptive(991) {
      min-height: 455px;
    }
    @include adaptive(767) {
      background-color: #6c63ff;
    }

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 85px;
      bottom: 172px;
      left: 148px;
      right: 183px;
      width: calc(100% - (113px + 183px));
      height: calc(100% - (85px + 172px));
      background-color: #6c63ff;
      @include adaptive(991) {
        left: 100px;
        right: 30px;
        width: calc(100% - 130px);
        height: calc(100% - (85px + 72px));
      }
      @include adaptive(767) {
        left: 0;
        right: 0;
        width: 100%;
      }
    }

    &-left {
      display: flex;
      width: 725px;
      padding-left: 56px;
      @include adaptive(1366) {
        width: 669px;
        padding-left: 0;
      }

      > div {
        &:nth-of-type(1) {
          width: 322px;
          padding-top: 41px;
          @include adaptive(767) {
            display: none;
          }

          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }

        &:nth-of-type(2) {
          width: 100%;
          max-width: calc(100% - 322px);
          padding-top: 108px;
          @include adaptive(767) {
            max-width: 100%;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 725px);
      @include adaptive(1366) {
        max-width: calc(100% - 669px);
      }
    }
  }

  &__title {
    padding-left: 71px;
    padding-bottom: 15px;
    font-weight: bold;
    line-height: line-height-convert(58,44);
    color: #fff;
    @include fluid(font-size, 320px, 1440px, 33px, 44px);
    @include adaptive(767) {
      padding-left: 0;
    }
  }

  &__subtitle {
    padding-left: 71px;
    padding-bottom: 24px;
    font-size: 17px;
    line-height: line-height-convert(28,17);
    color: #fff;
    @include adaptive(767) {
      padding-left: 0;
      font-size: 15px;
    }
  }

  &__btn {
    position: relative;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 289px;
    height: 67px;
    margin-left: auto;
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: transparent;
    @include transition(background-color);
    @include adaptive(767) {
      right: auto;
      margin-left: 0;
    }

    &:hover {
      background-color: #ffffff;
      @include transition(background-color);

      span,
      i {
        color: #6c63ff;
        @include transition(color);
      }
    }

    span {
      margin-right: 13px;
      line-height: line-height-convert(28,20);
      color: #fff;
      @include transition(color);
      @include fluid(font-size, 320px, 1200px, 16px, 20px);
    }

    i {
      margin-left: 13px;
      color: #fff;
      @include transition(color);
    }
  }

  &__pc {
    position: relative;
    top: 13px;
    display: block;
    max-width: 100%;
    height: auto;
    @include adaptive(1199) {
      display: none;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      @include adaptive(991) {
        display: none;
      }
    }

    &-flower {
      z-index: -1;
      position: absolute;

      &--left {
        top: 9px;
        left: 8px;
      }

      &--right {
        top: 51px;
        right: 8px;
      }
    }
  }
}

// SECTION trial :: END