// SECTION validate :: START

.validate {
  position: relative;

  &__bg {
    z-index: -1;
    position: absolute;
    top: 192px;
    left: 0;
    width: 100%;
    height: calc(100% - 192px);
    background-color: #f4f9fc;
  }

  &__wrapper {
    display: flex;

    &-0 {
      padding-bottom: 97px;
      @include adaptive(1199) {
        flex-direction: column;
      }
      @include adaptive(1199) {
        padding-bottom: 50px;
      }

      .validate__wrapper-left {
        width: 742px;
        padding-top: 297px;
        padding-left: 125px;
        @include adaptive(1534) {
          width: 500px;
          padding-left: 15px;
          padding-top: 250px;
        }
        @include adaptive(1199) {
          width: 100%;
          padding-top: 50px;
          padding-bottom: 30px;
        }
      }

      .validate__wrapper-right {
        width: 100%;
        max-width: calc(100% - 742px);
        @include adaptive(1534) {
          max-width: calc(100% - 500px);
          padding-left: 15px;
        }
        @include adaptive(1199) {
          max-width: 100%;
          padding-left: 0;
        }
      }
    }

    &-1 {
      @include adaptive(1199) {
        flex-direction: column-reverse;
      }
      .validate__wrapper-left,
      .validate__wrapper-right {
        width: 50%;
        @include adaptive(1199) {
          width: 100%;
        }
      }

      .validate__wrapper-left {
        padding-left: 51px;
        padding-right: 15px;
        @include adaptive(1365) {
          padding-left: 0;
        }
        @include adaptive(1199) {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .validate__wrapper-right {
        display: flex;
        flex-direction: column;
        padding-top: 46px;
        padding-left: 9px;
        @include adaptive(1199) {
          flex-wrap: wrap;
         flex-direction: row;
        }
      }
    }
  }

  &__box {
    width: 100%;
    max-width: 350px;
    padding-bottom: 105px;
    @include adaptive(1199) {
      max-width: 50%;
      padding-right: 30px;
    }
    @include adaptive(575) {
      max-width: 100%;
      padding-right: 0;
    }

    &:last-of-type {
      padding-bottom: 164px;
      @include adaptive(1199) {
        padding-bottom: 50px;
      }
    }

    &-title {
      padding-bottom: 31px;
      font-weight: bold;
      line-height: line-height-convert(37,27);
      color: #2d3136;
      @include fluid(font-size, 320px, 1440px, 22px, 27px);
    }

    &-text {
      font-size: 15px;
      line-height: 1.9;
    }
  }

  &__title {
    line-height: line-height-convert(65,45);
    color: #2d3136;
    @include fluid(font-size, 320px, 1440px, 35px, 45px);
  }

  &__image {
    &-0 {
      svg {
        width: 100%;
        max-width: 1125.329px;
        height: 100%;
      }
    }

    &-1 {
      svg {
        width: 100%;
        max-width: 821px;
        height: 100%;
      }
    }
  }
}

// SECTION validate :: END