// SECTION validate :: START

.validate {
  position: relative;

  &__bg {
    z-index: -1;
    position: absolute;
    top: 192px;
    left: 0;
    width: 100%;
    height: calc(100% - 192px);
    background-color: #f4f9fc;
  }

  &__wrapper {
    display: flex;

    &-0 {
      padding-bottom: 97px;

      .validate__wrapper-left {
        width: 742px;
        padding-top: 297px;
        padding-left: 125px;
      }

      .validate__wrapper-right {
        width: 100%;
        max-width: calc(100% - 742px);

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }

    &-1 {
      .validate__wrapper-left,
      .validate__wrapper-right {
        width: 50%;
      }

      .validate__wrapper-left {
        padding-left: 51px;
        padding-right: 15px;

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      .validate__wrapper-right {
        display: flex;
        flex-direction: column;
        padding-top: 46px;
        padding-left: 9px;
      }
    }
  }

  &__box {
    width: 100%;
    max-width: 350px;
    padding-bottom: 105px;

    &:last-of-type {
      padding-bottom: 164px;
    }

    &-title {
      padding-bottom: 31px;
      font-weight: bold;
      font-size: 27px;
      line-height: line-height-convert(37,27);
      color: #2d3136;
    }

    &-text {
      font-size: 15px;
      line-height: 1.9;
    }
  }

  &__title {
    font-size: 45px;
    line-height: line-height-convert(65,45);
    color: #2d3136;
  }

  &__image {
    &-0 {
      svg {
        max-width: 1125.329px;
        height: 100%;
      }
    }

    &-1 {
      svg {
        max-width: 821px;
        height: 100%;
      }
    }
  }
}

// SECTION validate :: END