// SECTION verification :: START

.verification {
  position: relative;
  height: 1520px;

  .c-grid-fluid {
    padding-left: 0;
  }

  &__wrapper {
    display: flex;

    &-left,
    &-right {
      width: 50%;

      img,
      svg {
        position: relative;
        top: -105px;
        left: -16px;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-left {
      overflow: hidden;
    }

    &-right {
      padding-left: 15px;
    }
  }

  &__title {
    padding-top: 192px;
    padding-left: 140px;
    padding-bottom: 26px;
    font-size: 45px;
    line-height: line-height-convert(65,45);
    color: #2d3136;
  }

  &__text {
    width: 100%;
    max-width: 388px;
    margin-left: 140px;
  }

  &__block {

    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 812px;
    }

    &-row {
      position: relative;
      width: 100%;
      max-width: calc((100% - (16px * 2)) / 3);

      a {
        &:hover {
          box-shadow: 0 7px 13px rgba(0, 32, 111, 0.1);
          @include transition(box-shadow);
        }
      }

      &--first {
        padding-top: 292px;
      }

      &--1 {
        top: -60px;
      }

      &--last {
        top: -227px;
      }
    }
  }
}

// SECTION verification :: END