// SECTION follow :: START

section#follow.follow
  ul
    li
      a.follow--fb(href="#" class="" title="")
        i.icon-font.icon-fb
    li
      a.follow--tw(href="#" class="" title="")
        i.icon-font.icon-tw
    li
      a.follow--in(href="#" class="" title="")
        i.icon-font.icon-in
    li
      a.follow--gp(href="#" class="" title="")
        i.icon-font.icon-gp
    li
      a.follow--pn(href="#" class="" title="")
        i.icon-font.icon-pn


// SECTION follow :: END