// SECTION follow :: START

section#follow.follow
  ul
    li
      a(href="#" class="" title="")
        i.icon-font.icon-fb
    li
      a(href="#" class="" title="")
        i.icon-font.icon-tw
    li
      a(href="#" class="" title="")
        i.icon-font.icon-in
    li
      a(href="#" class="" title="")
        i.icon-font.icon-gp
    li
      a(href="#" class="" title="")
        i.icon-font.icon-pn


// SECTION follow :: END