---
title: EmailMarker - Datavalidation

pageClassName: p-datavalidation
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/datavalidation/_main

    include components/common/_partners
    include components/common/_workflow