---
title: EmailMarker

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/home/_main
    include components/home/_description
    include components/home/_validate
    include components/home/_verification
    include components/home/_trial

    include components/common/_partners

    include components/home/_customers
    include components/home/_gdpr

    include components/_follow