// SECTION follow :: START

.follow {
  z-index: 999;
  position: fixed;
  bottom: 64px;
  right: 60px;
  width: 20px;
  @include adaptive(767) {
    display: none !important;
  }

  @each $classMod, $iconH in
      ('fb', 19px),
      ('tw', 14px),
      ('in', 16px),
      ('gp', 12px),
      ('pn', 18px)
  {
    &--#{$classMod} {
      .icon-font {
        font-size: $iconH;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;

    li {
      a {
        display: flex;
        justify-content: center;
        width: 20px;
        margin-bottom: 37px;
        color: #2D3136;
      }
    }
  }
}

// SECTION follow :: END