// FOOTER :: START

.footer {
  &__wrapper {
    min-height: 341px;

    &-0 {
      min-height: calc(341px - 50px);
      padding-top: 77px;
      background: #00206f;
      @include adaptive(991) {
        padding-bottom: 30px;
      }
    }

    &-1 {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
      background: #001a67;
    }
  }

  &__row {
    display: flex;
    @include adaptive(991) {
      flex-wrap: wrap;
    }
  }

  &__col {
    width: 100%;
    max-width: calc(100% / 5);

    &-0 {
      @include adaptive(991) {
        order: 1;
        max-width: 50%;
        padding-bottom: 45px;
      }
    }
    &-1 {
      @include adaptive(991) {
        order: 3;
        max-width: calc(100% / 3);
      }
    }
    &-2 {
      @include adaptive(991) {
        order: 4;
        max-width: calc(100% / 3);
      }
    }
    &-3 {
      @include adaptive(991) {
        order: 5;
        max-width: calc(100% / 3);
      }
    }
    &-4 {
      display: flex;
      justify-content: flex-end;
      @include adaptive(991) {
        order: 2;
        max-width: 50%;
        padding-bottom: 45px;
      }
    }
  }

  &__logo {
    display: flex;

    a {
      display: flex;
    }
  }

  &__title {
    padding-bottom: 13px;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    color: #fff;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-btn {
      opacity: 0.7;
      font-size: 14px;
      text-align: left;
      color: #fff;
      @include transition(opacity);

      &:hover {
        opacity: 1;
        @include transition(opacity);
      }
    }
  }
}

// FOOTER :: END