// SECTION workflow :: START

section#workflow.workflow
  .c-grid
    .workflow__wrapper
      .workflow__wrapper-expand
        p.workflow__title!= "Start automating your workflow and<br>scale your campaigns today."

      .workflow__wrapper-fixed
        +btn('blue', 'Get started now')

// SECTION workflow :: END