// TITLE :: START

.c-title {
  font-size: 35px;
  line-height: line-height-convert(45,35);
  color: #2d3136;

  &--white {
    color: #ffffff;
  }

  &--bold {
    font-weight: bold;
  }
}

// TITLE :: END