// SECTION main :: START

section#d-main.d-main
  .c-grid
    .d-main__wrapper

      h1.d-main__title.main__title!= "Why intelligent companies choose <br><span>EmailMarker</span> over <span>Datavalidation</span>"

      p.d-main__text.c-text.c-text--medium!= "There’s a reason more than 25000 companies pick EmailMarker over Datavalidation for <br>email verification."

      .d-main__image
        img(src="./img/img-d-main-bg.svg" alt="" title="")

      .d-main__btn-wrapper
        .d-main__btn-info
          p!= "No credit card required"
          img(src="./img/img-d-main-arrow.svg" alt="" title="")

        +btn('green d-main__btn', 'CLEAN YOUR LIST FOR FREE')

// SECTION main :: END