// SECTION questions :: START

.questions {
  position: relative;
  min-height: 632px;
  @include fluid(padding-bottom, 320px, 768px, 30px, 79px);
  @include adaptive(575) {
    min-height: 0;
  }

  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 148px);
    background-color: #6f44ff;
  }

  &__title {
    padding-bottom: 17px;
    line-height: line-height-convert(45,35);
    color: #2d3136;
    @include fluid(font-size, 320px, 768px, 28px, 35px);
  }

  &__text {
    padding-bottom: 122px;
  }

  &__slider {
    position: relative;

    &-container {
      display: flex;
      width: 100%;
      max-width: 1782px;
      min-height: 484px;
      margin-left: auto;
    }

    &-btn {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 140px;
      padding-right: 16px;
      padding-top: 159px;
      @include adaptive(1199) {
        width: 100px;
      }
      @include adaptive(575) {
        display: none;
      }

      &--prev {
        .icon-font {
          transform: rotate(-180deg);
        }
      }

      a {
        display: flex;

        &:hover {
          .icon-font {
            opacity: 0.85;
            @include transition(opacity);
          }
        }

        &.swiper-button-disabled {
          .icon-font {
            color: #0000EE;
            @include transition(color);
          }
        }

        .icon-font {
          color: #fff;
          font-size: 27px;
          @include transition(color, opacity);
          @include fluid(font-size, 320px, 1440px, 20px, 27px);
        }
      }
    }

    &-content {
      display: flex;
      width: 100%;
      max-width: calc(100% - 140px);
      @include adaptive(1199) {
        max-width: calc(100% - 100px);
      }
      @include adaptive(767) {
        flex-wrap: wrap;
      }
      @include adaptive(575) {
        max-width: 100%;
      }

      &--left {
        width: 398px;
        @include adaptive(1535) {
          width: 348px;
        }
        @include adaptive(1365) {
          width: 308px;
        }
        @include adaptive(767) {
          width: 100%;
          max-width: 398px;
        }
        @include adaptive(575) {
          padding-left: 5px;
          padding-right: 5px;
          margin-left: auto;
          margin-right: auto;
        }

        .swiper-container {
          position: relative;
          top: -69px;
          height: calc(484px + 69px);
          padding-bottom: 69px;
        }

        .swiper-scrollbar {
          bottom: 0;
          height: 9px;
          background-color: transparent;


          &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            height: 5px;
            border-radius: 2.5px;
            background-color: #4927ba;
          }

          &-drag {
            width: 103px;
            height: 100%;
            border-radius: 4.5px;
            background-color: #fff;
          }
        }

        .questions__slide {
          margin-left: 0;
          margin-right: 0;
        }
      }

      &--right {
        display: flex;
        align-items: baseline;
        width: 100%;
        max-width: calc(100% - 398px);
        padding-left: 8px;
        padding-right: 2px;
        @include adaptive(1535) {
          max-width: calc(100% - 348px);
        }
        @include adaptive(1365) {
          max-width: calc(100% - 308px);
        }
        @include adaptive(767) {
          align-items: flex-start;
          width: calc(100% + 100px);
          max-width: calc(100% + 100px);
          margin-left: -100px;
        }
        @include adaptive(575) {
          display: none;
        }

        .questions__slide {
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__slide {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 398px;
    min-height: 484px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 3px;
    background-color: #fff;

    &-1 {
      @include adaptive(991) {
        display: none;
      }
      @include adaptive(767) {
        display: block;
      }
    }
    &-2 {
      @include adaptive(1199) {
        display: none;
      }
    }

    &-top {
      overflow: hidden;
      position: relative;
      height: 239px;
      border-radius: 3px;
      box-shadow: 0 11px 11px rgba(0, 32, 111, 0.06);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-bottom {
      position: relative;
      height: calc(100% - 239px);
      padding: 34px 70px 42px 71px;
      @include adaptive(1535) {
        padding-left: 45px;
        padding-right: 45px;
      }
      @include adaptive(1365) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &-title {
      padding-bottom: 14px;
      font-weight: bold;
      font-size: 24px;
      line-height: line-height-convert(35,24);
      color: #2d3136;
    }

    &-text {
      position: relative;

      p {
        font-size: 15px;
        line-height: line-height-convert(28,15);
        color: #818992;
      }
    }
  }
}

// SECTION questions :: END