// SECTION workflow :: START

.workflow {
  background-color: #6c63ff;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;

    &-expand {
      flex: 1;
    }

    &-fixed {
      width: auto;
    }
  }

  &__title {
    padding-top: 8px;
    font-weight: bold;
    font-size: 44px;
    line-height: 1.35;
    color: #fff;
  }

  &__btn {
    position: relative;
    left: 2px;
  }
}

// SECTION workflow :: END