// SECTION integrations main :: START

.i-main {
  max-height: 2000px;
  padding-top: 215px;
  padding-bottom: 147px;

  .c-grid {
    max-width: 1394px;
  }

  &__title {
    padding-bottom: 49px;
  }

  &__text {
    line-height: 1.7;
  }

  &__block {
    display: flex;
    flex-direction: column;
    min-height: 335px;
    margin-bottom: 17px;
    padding: 38px 10px 5px 25px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 13px 26px rgba(0, 32, 111, 0.05);

    @each $classMod, $bgVal in
        ('mailchimp', #FDE04C),
        ('sendloop', #F07639),
        ('mailgun', #AF272A),
        ('hubspot', #F37316),
        ('aweber', #246FAC),
        ('sendgrid', #1F2E38),
        ('activeCampaign', #356AE6),
        ('campaignMonitor', #7954F6),
        ('verticalResponse', #4F1042),
        ('constantContact', #3C4A57)
    {
      &--#{$classMod} {
        @if($classMod == 'aweber') {
          margin-bottom: 15px;
        }


        .i-main__block-img {
          background-color: #{$bgVal};
        }
      }
    }

    &-img {
      position: relative;
      display: block;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 81px;
      margin-bottom: 33px;
    }

    &-title {
      padding-bottom: 19px;
      font-weight: bold;
      font-size: 24px;
      line-height: line-height-convert(35,24);
      color: #2d3136;
    }

    &-text {
      font-size: 15px;
      line-height: line-height-convert(28,15);
      color: #818992;
    }

    &--empty {
      padding-top: 81px;
      padding-left: 24px;
      padding-bottom: 50px;
      box-shadow: none;
      background-color: transparent;
      border: 1px solid rgba(#00206f, 0.1);

      span,
      i {
        display: flex;
        background-color: rgba(#00206f, 0.1);
      }

      span {
        width: 185px;
        height: 21px;
        margin-bottom: 12px;

        &:nth-of-type(2) {
          width: 84px;
          margin-bottom: 49px;
        }
      }

      i {
        width: 157px;
        height: 6px;
        margin-bottom: 25px;

        &:nth-of-type(4) {
          width: 109px;
          margin-bottom: 0;
        }
      }
    }

    &-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-row {
      position: relative;
      width: 100%;
      max-width: calc((100% - (16px * 4)) / 5);

      &--first {
        padding-top: 342px;
      }

      &--1 {
        padding-top: 157px;
      }

      &--2 {
        top: -10px;
      }

      &--3 {
        top: -195px;
      }

      &--last {
        top: -362px;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      margin-top: 84px;

      > div {
        &:nth-of-type(1) {
          width: 54px;
        }

        &:nth-of-type(2) {
          width: 100%;
          max-width: calc(100% - 54px);
        }

        .icon-plus {
          color: #04C7FF;
          font-size: 32px;
        }

        span {
          font-weight: bold;
          font-size: 25px;
          line-height: line-height-convert(30, 25);
          color: #464646;
        }
      }
    }
  }
}

// SECTION integrations main :: END