// SECTION integrations main :: START

.i-main {
  max-height: 2000px;
  padding-bottom: 147px;
  @include fluid(padding-top, 320px, 992px, 100px, 215px);
  @include adaptive(767) {
    max-height: 100%;
  }

  .c-grid {
    max-width: 1394px;
  }

  &__title {
    padding-bottom: 49px;
  }

  &__text {
    line-height: 1.7;
    @include adaptive(374) {
      padding-bottom: 50px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    min-height: 335px;
    margin-bottom: 17px;
    padding: 38px 10px 5px 25px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 13px 26px rgba(0, 32, 111, 0.05);
    @include transition(box-shadow);
    @include adaptive(991) {
      padding: 30px 15px 5px 15px;
    }
    @include adaptive(423) {
      padding-left: 10px;
      padding-right: 5px;
    }
    @include adaptive(374) {
      min-height: 0;
      padding-bottom: 15px;
    }

    @each $classMod, $bgVal in
        ('mailchimp', #FDE04C),
        ('sendloop', #F07639),
        ('mailgun', #AF272A),
        ('hubspot', #F37316),
        ('aweber', #246FAC),
        ('sendgrid', #1F2E38),
        ('activeCampaign', #356AE6),
        ('campaignMonitor', #7954F6),
        ('verticalResponse', #4F1042),
        ('constantContact', #3C4A57)
    {
      &--#{$classMod} {
        @if($classMod == 'aweber') {
          margin-bottom: 15px;
        }


        .i-main__block-img {
          background-color: #{$bgVal};
        }
      }
    }

    @each $classMod, $bgVal in
        ('syntax', #FF4252),
        ('deduplication', #4AE3C1),
        ('validation', #04C7FF),
        ('check', #96D400),
        ('control', #FFC300),
        ('quality', #6C63FF)
    {
      &--#{$classMod} {
        .i-main__block-color {
          background-color: $bgVal;
        }
      }
    }

    &-img {
      position: relative;
      display: block;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 81px;
      margin-bottom: 33px;
    }

    &-color {
      width: 22px;
      height: 22px;
      margin-bottom: 14px;
    }

    &-title {
      padding-bottom: 19px;
      font-weight: bold;
      line-height: line-height-convert(35,24);
      color: #2d3136;
      @include fluid(font-size, 320px, 1199px, 20px, 24px);

      .verification & {
        padding-bottom: 32px;
      }
    }

    &-text {
      line-height: line-height-convert(28,15);
      color: #818992;
      @include adaptive(991) {
        font-size: 14px;
      }
      @include adaptive(374) {
        br {
          display: none;
        }
      }
    }

    &--empty {
      padding-top: 81px;
      padding-left: 24px;
      padding-bottom: 50px;
      box-shadow: none;
      background-color: transparent;
      border: 1px solid rgba(#00206f, 0.1);
      @include adaptive(991) {
        padding-left: 15px;
      }
      @include adaptive(423) {
        padding-left: 10px;
      }
      @include adaptive(374) {
        padding-top: 30px;
        padding-bottom: 15px;
      }

      span,
      i {
        display: flex;
        background-color: rgba(#00206f, 0.1);
      }

      span {
        width: 100%;
        max-width: 185px;
        height: 21px;
        margin-bottom: 12px;

        &:nth-of-type(2) {
          width: 84px;
          margin-bottom: 49px;
        }
      }

      i {
        width: 100%;
        max-width: 157px;
        height: 6px;
        margin-bottom: 25px;

        &:nth-of-type(4) {
          width: 109px;
          margin-bottom: 0;
        }
      }
    }

    &-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include adaptive(767) {
        flex-wrap: wrap;
      }
    }

    &-row {
      position: relative;
      width: 100%;
      max-width: calc((100% - (16px * 4)) / 5);
      @include adaptive(1199) {
        max-width: calc((100% - (16px * 3)) / 4);
      }
      @include adaptive(767) {
        top: 0 !important;
        transform: translateY(0) !important;
        max-width: calc((100% - (16px * 1)) / 2);
      }
      @include adaptive(374) {
        max-width: 100%;
      }

      a {
        &:hover {
          box-shadow: 0 7px 13px rgba(0, 32, 111, 0.1);
          @include transition(box-shadow);
        }
      }

      &--first {
        transform: translateY(0);
        @include adaptive(1199) {
          display: none !important;
        }
      }

      &--1 {
        transform: translateY(-157px);
        @include adaptive(991) {
          transform: translateY(-107px);
        }
        @include adaptive(767) {
          order: 4;
          margin-top: -50px;
          @include adaptive(374) {
            margin-top: 0;
          }
        }
      }

      &--2 {
        transform: translateY(-200px);
        @include adaptive(991) {
          transform: translateY(-150px);
        }
        @include adaptive(767) {
          order: 1;
          margin-top: 100px;
          @include adaptive(374) {
            margin-top: 0;
          }

          .i-main__block {
            &:first-child {
              display: none;
            }
          }
        }
      }

      &--3 {
        transform: translateY(-300px);
        @include adaptive(991) {
          transform: translateY(-200px);
        }
        @include adaptive(767) {
          order: 2;
          margin-top: 50px;
          @include adaptive(374) {
            margin-top: 0;
          }

          .i-main__block {
            &:first-child {
              display: none;
            }
          }
        }
      }

      &--last {
        transform: translateY(-400px);
        @include adaptive(991) {
          transform: translateY(-300px);
        }
        @include adaptive(767) {
          order: 3;

          .i-main__block {
            &:first-child,
            &:last-child {
              display: none;
            }
          }
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      @include fluid(margin-top, 320px, 768px, 42px, 84px);

      &:hover {
        box-shadow: none !important;
      }

      > div {
        &:nth-of-type(1) {
          width: 54px;
        }

        &:nth-of-type(2) {
          width: 100%;
          max-width: calc(100% - 54px);
        }

        .icon-plus {
          color: #04C7FF;
          @include fluid(font-size, 320px, 768px, 25px, 32px);
        }

        span {
          font-weight: bold;
          line-height: line-height-convert(30, 25);
          color: #464646;
          @include fluid(font-size, 320px, 768px, 20px, 25px);
        }
      }
    }
  }
}

// SECTION integrations main :: END