// SECTION main :: START

.d-main {
  //padding-top: 214px;
  //padding-bottom: 161px;
  @include fluid(padding-top, 320px, 1920px, 100px, 214px);
  @include fluid(padding-bottom, 320px, 1600px, 81px, 161px);

  .c-grid {
    max-width: 1348px;
  }

  &__title {
    padding-bottom: 23px;
    text-align: center;

    br {
      @include adaptive(991) {
        display: none;
      }
    }

    p {
      display: inline-block;
      padding-left: 18px;
      @include adaptive(991) {
        display: inline;
        padding-left: 0;
      }
    }

    span {
      position: relative;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 14px;
        left: -2px;
        width: calc(100% + 10px);
        height: 21px;
        background-color: #ffc300;
      }
    }
  }

  &__text {
    text-align: center;
    line-height: 1.7;

    br {
      @include adaptive(991) {
        display: none;
      }
    }
  }

  &__image {
    z-index: -1;
    position: relative;
    top: -15px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__btn {
    .c-btn__left {
      justify-content: center;
      padding-right: 19px;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      max-width: 225px;
      left: -225px;
      padding-right: 10px;
      @include adaptive(991) {
        position: static;
        display: flex;
        flex-direction: column;
        max-width: 380px;
        padding-right: 0;
      }

      p {
        @extend %fontDakota;
        color: #818992;
        text-align: center;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 5px;
        @include adaptive(991) {
          margin-top: 0;
          transform: rotate(45deg);
        }
      }
    }

    &-wrapper {
      position: relative;
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 9px;
    }
  }
}

// SECTION main :: END