// SECTION main :: START

.d-main {
  padding-top: 214px;
  padding-bottom: 161px;

  .c-grid {
    max-width: 1348px;
  }

  &__title {
    padding-bottom: 23px;
    text-align: center;

    p {
      display: inline-block;
      padding-left: 18px;
    }

    span {
      position: relative;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 14px;
        left: -2px;
        width: calc(100% + 10px);
        height: 21px;
        background-color: #ffc300;
      }
    }
  }

  &__text {
    text-align: center;
    line-height: 1.7;
  }

  &__image {
    z-index: -1;
    position: relative;
    top: -15px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__btn {
    .c-btn__left {
      justify-content: center;
      padding-right: 19px;
    }

    &-info {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      max-width: 190px;
      left: -190px;
      padding-right: 10px;

      p {
        @extend %fontDakota;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 5px;
      }
    }

    &-wrapper {
      position: relative;
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 9px;
    }
  }
}

// SECTION main :: END