// SECTION table :: START

.table {
  @include fluid(padding-bottom, 320px, 1440px, 92px, 184px);

  .c-grid {
    max-width: 1395px;
  }

  &__wrapper {
    @include adaptive(575) {
      overflow-y: auto;
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    @include adaptive(991) {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
    @include adaptive(575) {
      width: 575px;
      margin-left: 0;
    }

    &-body {
      .table__block-tr {
        border-bottom: 1px solid #E7EEF2;

        > div {
          &:nth-of-type(1) {
            background-color: #f4f9fc;
          }
          &:nth-of-type(2) {
            background-color: #f9fbfd;
          }
          &:nth-of-type(3) {
            background-color: #fcfdfe;
          }
        }

        &--first {
          > div {
            &:nth-of-type(1) {
              background-color: #e2e6ff;

              span {
                font-weight: bold;
                line-height: line-height-convert(37,20);
                color: #2d3136;
                @include fluid(font-size, 320px, 992px, 16px, 20px);
              }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              span {
                line-height: 1;
                color: #2d3136;
                @include fluid(font-size, 320px, 992px, 26px, 40px);
              }
            }

            &:nth-of-type(2) {
              background-color: #e9ecfc;
            }
            &:nth-of-type(3) {
              background-color: #edf0ff;
            }
          }
        }
      }
    }

    &-tr {
      display: flex;
      min-height: 88px;

      > div {
        width: 100%;

        &:nth-of-type(1) {
          max-width: 568px;
          @include adaptive(1199) {
            max-width: 400px;
          }
          @include adaptive(991) {
            max-width: 300px;
          }
          @include adaptive(767) {
            width: 200px;
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          max-width: calc((100% - 568px) / 2);
          @include adaptive(1199) {
            max-width: calc((100% - 400px) / 2);
          }
          @include adaptive(991) {
            max-width: calc((100% - 300px) / 2);
          }
          @include adaptive(767) {
            max-width: calc((100% - 200px) / 2);
          }
        }
      }

      &--big {
        .table__block-td {
          &:first-of-type {
            padding-top: 29px;
            padding-bottom: 21px;
          }
        }
      }
    }

    &-th {
      display: flex;
      align-items: center;
      padding-left: 40px;
      @include adaptive(991) {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
      }

      &:nth-of-type(2) {
        background-color: #6C63FF;
      }
      &:nth-of-type(3) {
        background-color: #766eff;
      }

      p {
        font-weight: bold;
        line-height: line-height-convert(39,27);
        color: #fff;
        @include fluid(font-size, 320px, 1200px, 22px, 27px);
      }
    }

    &-td {
      display: flex;
      align-items: center;
      padding: 10px 40px;
      @include adaptive(767) {
        padding-left: 10px;
        padding-right: 10px;
      }

      p {
        line-height: line-height-convert(37,20);
        color: #2d3136;
        @include fluid(font-size, 320px, 992px, 16px, 20px);
      }

      span {
        line-height: line-height-convert(37,20);
        color: #818992;
        @include fluid(font-size, 320px, 992px, 16px, 20px);
      }

      h6 {
        line-height: 1;
        color: #2d3136;
        @include fluid(font-size, 320px, 992px, 26px, 40px);
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      border-width: 3px;
      border-style: solid;

      &--check {
        border-color: #1BC18E;

        &:before {
          content: '';
          position: relative;
          top: -2px;
          width: 9px;
          height: 18px;
          border: solid #1BC18E;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }

      &--close {
        border-color: #FF4252;

        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 3px;
          height: 17px;
          background-color: #FF4252;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// SECTION table :: END