// SECTION frequently :: START

-
  var frequentlyData = [
    {
      title: 'Why is email verification important?',
      desc: 'The e-mail address is often the first thing your user and hopefully soon-to-become customer provides to you. Remember, your lists are as good as their deliverability. If you don’t pass spam filters, you’re not making money!'
    },
    {
      title: 'What makes you better than your competitors?',
      desc: 'we’re more accurate, rooting out more false addresses than anyone in the business. in addition we designed the most user-friendly software for non-technical users and our support level is unparalleled, we don’t open tickets, and we talk live.'
    },
    {
      title: 'How does it work?',
      desc: 'You can verify emails within your application or website via our real-time API to avoid email-entry mistakes, spamming and to offer a better experience for your users.'
    },
    {
      title: 'How secure is your service?',
      desc: 'We secure data transmission through a 256-bit SSL protocol. Your data is encrypted and stored under the rules of our privacy policy and is only accessible by someone with login credentials.'
    },
    {
      title: 'What if I need technical support?',
      desc: 'Within the app, you’ll find the Help Center section that provides everything you need to know in order to use Bounceless, including step-by-step instructions, and you can also contact our support tea'
    },
    {
      title: 'How fast will you process my lists?',
      desc: 'It depends on factors such as list size and quality. We use the best tools and practices in the industry to guarantee quick list processing. Processing time takes somewhere between30 to 120 minutes.'
    },
    {
      title: 'Why is email verification important?',
      desc: 'The e-mail address is often the first thing your user and hopefully soon-to-become customer provides to you. Remember, your lists are as good as their deliverability. If you don’t pass spam filters, you’re not making money!'
    },
    {
      title: 'Why is email verification important?',
      desc: 'The e-mail address is often the first thing your user and hopefully soon-to-become customer provides to you. Remember, your lists are as good as their deliverability. If you don’t pass spam filters, you’re not making money!'
    },
    {
      title: 'Why is email verification important?',
      desc: 'The e-mail address is often the first thing your user and hopefully soon-to-become customer provides to you. Remember, your lists are as good as their deliverability. If you don’t pass spam filters, you’re not making money!'
    },
  ];

section#frequently.frequently
  .c-grid

    p.frequently__title!= "Frequently Asked Questions"
    p.frequently__text.c-text.c-text--medium!= "We have an answer to every questions"

    .frequently__wrapper

      .frequently__block-wrapper
        each val, idx in frequentlyData
          div
            a.frequently__block(href="#" class="frequently__block-" + idx title="")
              p.frequently__block-title!= frequentlyData[idx].title
              p.frequently__block-desc.c-text.c-text--medium!= frequentlyData[idx].desc

// SECTION frequently :: END