// SECTION main :: START

section#p-main.p-main.main
  .c-grid
    .p-main__wrapper

      h1.p-main__title.main__title!= "The value of an email is the <br>value of a customer."

// SECTION main :: END