// SECTION boost :: START

section#boost.boost
  .c-grid
    .boost__wrapper

      .boost__block-wrapper
        each val, idx in [1,2,3]
          div
            a.boost__block(href="#" class="boost__block-" + idx title="")
              .boost__block-top
              .boost__block-bottom
                p.boost__block-title!= "Boost your ROI through <br>Emailmarker"
                p.boost__block-text.c-text!= "Significantly improve your Email Campaign. Increase your sender reputation with ISPs."

// SECTION boost :: END