// SECTION main :: START

section#f-main.f-main.main
  .c-grid
    .f-main__wrapper
      .f-main__wrapper-left

        h1.f-main__title.main__title!= "Full-Featured Email Verification."

        p.f-main__subtitle.c-text.c-text--medium!= "A trusted solution for your digital marketing needs. Many Organizations Trust Emailmarker for Their Real-time Email verification and email cleaning services."

        +btn('green f-main__btn', 'CLEAN YOUR LIST FOR FREE')

      .f-main__wrapper-right

        .f-main__box

// SECTION main :: END