.icon-gdpr-file {
  width:(82.145)*1px;
  height:(87.885)*1px;
}
.icon-gdpr-world {
  width:(149.307)*1px;
  height:(149.31)*1px;
}
.icon-i-email {
  width:(30)*1px;
  height:(20.893)*1px;
}
.icon-i-email-hover {
  width:(30)*1px;
  height:(20.893)*1px;
}
.icon-integrations-activeCampaign {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-aweber {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-campaignMonitor {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-constantContact {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-hubspot {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-mailchimp {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-mailgun {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-sendgrid {
  width:(120)*1px;
  height:(81)*1px;
}
.icon-integrations-verticalResponse {
  width:(120)*1px;
  height:(81)*1px;
}
